<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
  </head>
  <body>
    <h1 class="head">welcome </h1>
    <div class="info" id="info"></div>
    <div class="outer clickable">
      
    </div>
    <div class="box">
    <div class="box2">
      
    <div class="container1">
      <ul>
        <li>ram</li>
        <li>shayam</li>
        <li>karan</li>
      </ul>
      <h2>hello</h2>
      <p>consectetur eiusmod Lorem dolor nulla proident sunt consequat minim quis</p>
    </div>
    <div class="container2">
      <ul class="list">
        <li>kajal</li>
        <li>kiran</li>
        <li>kavita</li>
        <li>kukkum</li>
        <li>kushum</li>
      </ul>
      <h2>hello</h2>
      <h3>hello woord</h3>
      <p>consectetur eiusmod Lorem dolor nulla proident sunt consequat minim quis</p>
    </div>
    <div class="container3">
      <h2>hello</h2>
      <h4>hello ok ji </h4>
      <p>consectetur eiusmod Lorem dolor nulla proident sunt consequat minim quis</p>
    </div>
    </div>
    </div>
    
    <script src="js/script.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>