<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
  </head>
  <body>
    <h1 class="head">welcome </h1>
    <h1 class="head">Pseudo class : nth-child </h1>
    <div class="info" id="info"></div>
    <div class="outer clickable">
      Enim nisi velit aliquip dolor dolor magna magna in duis incididunt ut nostrud ipsum exercitation. Ea aliquip commodo enim nisi velit. Nulla magna ullamco do consectetur pariatur magna excepteur. Minim minim minim ex adipisicing nostrud ex eiusmod ex ad et aute tempor. Adipisicing sit est aliqua aliquip fugiat amet proident duis officia veniam do exercitation.
    </div>
    <p>Enim nisi velit aliquip dolor dolor magna magna</p> 
    <p>in duis incididunt ut nostrud ipsum exercitation. </p><p>Ea aliquip commodo enim nisi velit. Nulla magna ullamco do consectetur pariatur magna excepteur. box1 </p>
    <div class="box1 ">
     Enim nisi velit aliquip dolor dolor magna magna in duis incididunt ut nostrud ipsum exercitation. Ea aliquip commodo enim nisi velit. Nulla magna ullamco do consectetur pariatur magna excepteur. box1 
    </div>
    <div class="box1 ">
     <p>Enim nisi velit aliquip dolor dolor magna magna</p> 
     <p>in duis incididunt ut nostrud ipsum exercitation. </p><p>Ea aliquip commodo enim nisi velit. Nulla magna ullamco do consectetur pariatur magna excepteur. box1 </p>
       <ol>
         <li>akhil</li>
         <li>jinhjan</li>
         <li>anuj</li>
         <li>aman</li>
         <li>sonu</li>
         <li>sanju</li>
         <li>sangam</li>
         <li>shayam</li>
         <li>sinu</li>
         <p>karan</p>
         <p>kumar</p>
         <p>kishan</p>
       </ol>
       <ol>
         <li>akhil</li>
         <li>anuj</li>
         <li>aman</li>
         <li>sonu</li>
         <li>sanju</li>
         <li>sangam</li>
         <li>shayam</li>
         <li>sinu</li>
         <p>karan</p>
         <p>kumar</p>
         <p>kishan</p>
       </ol>
    </div>
    
    <div class="some-text">
      <div class="">
        <p>anuj kumar</p>
        
      </div>
      <b>suman tiwari</b>
      <p>karan is good feel</p>
    </div>
    <script src="js/script.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>