<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
  </head>
  <body>
    <h1 class="head">welcome </h1>
    <div class="info" id="info"></div>
    <div class="outer clickable">
      
    </div>
    <form action="" method="get" accept-charset="utf-8">
      <ul>
        <li>
          <label for="">Name : </label>
          <input type="text" placeholder="Enter Your Name" />
        </li>
        <li>
          <label for="">Age : </label>
          <input type="number" placeholder="Enter Your Age" />
        </li>
        <li>
          <label for="">E-Mail : </label>
          <input type="email" placeholder="Enter Your Email" />
        </li>
        <li>
          <label for="">Password : </label>
          <input type="password" placeholder="Enter Your Password" />
        </li>
        <li>
          <label for="">Feedback : </label>
          <textarea placeholder="Enter Your Name" ></textarea>
        </li>
        <li>
          <label for="">Hobies : </label>
          <input type="radio"  value="cricket" />
        </li>
      </ul>
    </form>
    <script src="js/script.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>